a, a:visited, a:hover {
    color: #3d7ea0;
    text-decoration: none;
}

a:hover .icon-text {
    color: #3d7ea0;
    text-decoration: underline;
}

#content-centered {
    width:600px;
    height:400px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-200px 0 0 -300px;
}

#header {
    text-align: center;
    font-family: "museo-sans",sans-serif;
    text-align: center;
    margin-top: 80px;
    font-size: 48px;
}

#header .profile {
    width: 112px;
    margin-right: 6px;
    margin-top: -10px;
}

#header .firstname {
    font-weight: 300;
}

#header .lastname {
    font-weight: 700;
}

#info {
    width: 300px;
    margin: 30px auto 0 auto;
    font-family: "museo-sans",sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.info-item {
    margin-top: 15px;
}

.icon {
    width: 48px;
    margin-top: -4px;
}

@media(max-width:767px) {
    #header {
        width: 300px;
        margin: 40px auto 0 auto;
        text-align: left;
        font-size: 26px;
    }

    #header .profile {
        width: 48px;
        margin-right: 0;
    }

    .icon {
        width: 32px;
        margin-top: -4px;
        margin-left: 8px;
    }

    #info {
        margin-top: 20px;
        font-size: 18px;
    }
}
